<h1>Add a category</h1>
<h3>Add a category here:</h3>
<form action='/categories/new' method='post'>
  <label for='categories-name'>Category name</label>
  <input id='categories-name' name='category-name' type='text'>
  <button type='submit'>Add</button>
</form>

<p><a href="/">Back home</a></p>
