<h1>To Do List</h1>
<ul>
  @foreach (var task in Model)
  {
    <li>@task.GetName(), due by : @task.GetDate()</li>
    <form action="/tasks/@task.GetId()" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-warning">Delete</button>
    </form>
    <button type="button" name="edit-button" class="edit-button">Edit</button>
    <form class="appears" action="/tasks/@task.GetId()" method="post">
          <input type="hidden" name="_method" value="PATCH">
          <label for="new-task-name">New Name: </label>
          <input type="text" name="new-task-name" value="@task.GetName()">
          <label for="new-task-date">New Date: </label>
          <input type="date" name="new-task-date" value="@task.GetDate()">
          <button type="submit" class="btn btn-warning">Update</button>
    </form>
  }
</ul>
<a href='/tasks/new'>Add new task</a>
<h4><a href="/">Return home</a></h4>
